// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$admin-background: #11101d;

$main-background: #dac9c2;

$main-color: #000000;

$secondary-color: #707070;

$font-family-quintessential: "Quintessential", sans-serif !important;
$font-family-prompt: "Prompt", sans-serif !important;