// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'admin';

.main {
    // Main style
    @import 'main';
}

body {
    background-color: white;
    font-family: 'Prompt', sans-serif !important;

    .main {
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;

        header {
            min-height: 50px;
        }

        footer {
            min-height: 50px;
        }

        main {
            flex: 1;
        }
    }

    h1 {
        color: $main-color;
        line-height: 1.2;
        font-weight: 300;
    }

    a:not(.btn) {
        color: #fff;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
            color: #ddd;
            letter-spacing: 1.4px;
        }
    }

    .flex-center-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-center-start {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
