// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'admin';

body {

    a:not(.btn) {
        color: #fff;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
            color: #ddd;
            letter-spacing: 1.4px;
        }
    }
}
