.main-container {
    padding: 0 2rem;
    max-width: 1560px;
    width: 100%;
    margin: auto;
    transition: all .5s ease;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    box-shadow: 0 5px 5px -5px $main-background;
    margin-bottom: 10px;

    .header-block {
        min-height: 30px;
        background-color: $main-background;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: $main-color;
            padding: 10px;
        }
    }

    .header-logo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    .logo-dog {
        font-family: 'Purple Purse', sans-serif !important;
        font-size: 70px;
        color: $main-color;
        text-transform: uppercase;
        letter-spacing: 25px;
        position: relative;

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }

        .logo-dog-second {
            font-family: $font-family-quintessential;
            position: absolute;
            text-transform: lowercase;
            bottom: -20px;
            right: -25px;
            letter-spacing: 1px;
            font-size: 40px;

            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }


    }
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;

    h1 {
        margin: auto;
        color: $main-color;
        text-transform: uppercase;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 5px;
    }
}

.page-container {
    &.no-title {
        margin-top: 50px
    }

    margin-bottom: 50px;
}

.scarves {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;

    a {
        &:hover {
            transform: scale(1.1);
        }
    }

    .scarves-item {
        width: calc(25% - 20px);
        box-shadow: 5px 5px 10px #dac9c2;
        margin: 20px 0;

        @media screen and (max-width: 1200px) {
            width: calc(33.333% - 20px);
        }

        @media screen and (max-width: 1024px) {
            width: calc(50% - 20px);
        }

        @media screen and (max-width: 768px) {
            width: calc(100%);
        }

        .title {
            padding: 20px 0;
            border-top: 1px solid #dac9c2;

            h2 {
                text-transform: uppercase;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 5px;
                color: $main-color;
                text-align: center;
                margin: 0;
            }
        }

        .image {
            overflow: hidden;
            margin-bottom: 20px;
            position: relative;
        }

        .scarf-sold-out {
            padding: 5px 10px;
            background-color: #dac9c2;
            text-transform: uppercase;
            color: $main-color;
            width: 150px;
            text-align: center;
            font-weight: 300;
            position: absolute;
            top: 33px;
            right: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

footer {
    height: 60px;
    background-color: $main-background;

    p {
        margin: 0;
    }

    .footer-section {
        width: 100%;
    }
}

.scarf-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }

    .scarf-images {
        width: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;

        @media screen and (max-width: 768px) {
            width: 90%;
            margin: auto auto 20px auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .scarf-sold-out {
        padding: 5px 10px;
        background-color: #dac9c2;
        text-transform: uppercase;
        color: $main-color;
        width: 150px;
        text-align: center;
        font-weight: 300;
    }

    .scarf-description {
        margin-left: 20px;
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 90%;
            margin: auto;
        }

        .title {
            line-height: 1.2;
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        .description {
            color: $secondary-color;
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
        }
    }
}